



.lizing-form__wrapper {
  display: grid;
  gap: 24px;
}


.lizing-form__lable {
  position: relative;
  width: 427px;
  height: 68px;
  background: #F3F3F4;
  border-radius: 16px;
  display: grid;
  grid-auto-flow: column;
  padding: 16px 16px 16px 24px;
  border: none;
  font-weight: 900;
  font-size: 20px;
  align-items: center;
  align-content: center;

  input {
    border: none;
    background: none;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
  }
  .range {
    position: absolute;
    bottom: -2px;
    left: 16px;
    width: 90%;
    height: 2px;
  }
}

.right-input {
  position: absolute;
  top: 7px;
  right: 7px;
}

.right-input__lable {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  width: 69px;
  height: 54px;
  background: #EBEBEC;
  border-radius: 16px;
  padding: 15px 17px;
  text-align: right;
  color: #575757;
  
  input {
    color: #575757;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    width: 69px;
    height: 54px;
    border: none;
    background: none
  }

  &::after {
    content: '%';
    position: absolute;
    top: 13px;
    right: 5px;
  }

}

.input__number-value__label {
  display: grid;
  position: relative;
  width: 100px;

  &::after {
    content: '₽';
    position: absolute;
    top: 13px;
    right: 5px;
  }
}